@import "reset";

//Variables
$theme-color: #fc4261;
$body-color: #000;

$playfair: 'Playfair Display', serif;
$montserrat: 'Montserrat', sans-serif;

/*GENERAL*/
body {
  font-family: $montserrat;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.8;
  color: $body-color;
}
p {
  text-align: left;
  color: #fff;
  font-size: 16px;
  padding-bottom: 50px;
}
a {
  text-decoration: none;
}
strong {font-weight: 700}
em {font-style: italic}

.iframe-pixel {position: absolute;}
/*HELPERS*/
.text-center {text-align: center;}
.color {color: $theme-color;}
.bold {font-weight: bold;}
.bg-dark {
  background: #000;
  color: #fff;
  padding: 65px 0;
  margin: 80px 0;
}

h4 {
  font-family: "Playfair Display",serif;
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: normal;
  color: white;
}

/*LAYOUT*/
.container {
  width: 780px;
  margin: 0 auto;
}

/*ASIDE*/
.aside {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: $body-color;
  padding: 10px;
  z-index: 100;
  &__content {
    display: flex;
    //flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.ec-logo {
  display: block;
  line-height: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}
.share {
  &__icon {
    max-width: 28px;
    max-height: 34px;
    background-color: transparent;
    font-size: 18px;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    display: block;
    &:hover {opacity: .6}
    &:focus {outline: none}
  }
}

.powered {
  position: absolute;
    top: 4.2%;
    right: 12%;
  & .main__image {
    width: 98px;
    position: absolute;
    top: 3px;
    left: 108px;
  }
}

.header {
  display: flex;
  height: 100vh;
  background: url(https://www.ecestaticos.com/file/9d1169ec8b136bb5484be37dd06f34f2/1548254871-el_confidencial-carmen_castellon-portada.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  color:#fff;
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: rgba(0,0,0,0.5);
  }
  &__container {
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 10;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
  }
}
.subtitle {
  font-family: $montserrat;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.8px;
  line-height: 45px;
  text-transform: uppercase;

  -webkit-transform: translatey(-22px);
  -moz-transform: translatey(-22px);
  -o-transform: translatey(-22px);
  -ms-transform: translatey(-22px);
  transform: translatey(-22px);
  display: block;
  margin: 0 auto;
  background: black;
  width: 500px;
}

.title {
    font-family: $montserrat;
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.44;
    border: 1px solid;
    padding: 30px 30px;
    text-transform: uppercase;
}

.mobile-author, .paragraph-mobile-block, .line-mobile, .display-mobile {display: none;}
.author {
  font-family: "Montserrat",sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 150px;
    color: $theme-color;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 60px;
    line-height: 68px;
    -webkit-animation: arrow_animation 1.5s infinite;
    animation: arrow_animation 1.5s infinite;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.scroll-down:hover {
    opacity: .7;
}

.bg-full-container {
    position: relative;
}

.center-wrapper {
    position: absolute;
    top: 50%;
    left: 37%;
    z-index: 10;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro {
    width: 596px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
    display: block;
    margin: 8% auto;
    padding: 0;
}

.big-letter {
  font-style: italic;
  font-size: 144px;
  line-height: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
  position: absolute;
  top: auto;
  transform: translate(-20%, -55%);
  z-index: -1;
}

#main {
    position: relative;
    padding: 0px 0 50px;
    background: black;
    border-bottom: 10px solid #fff;
    border-width: 0;
}

.section-paragraph {
    width: 475px;
    position: absolute;
    z-index: 10;
}

.paragraph{
  &-one {
    top: 85%;
    left: 18%;
  }
  &-two {
    left: 25%;
    transform: translateY(-30%);
  }
  &-three {    
    top: 30%;
    left: 109%;
  }
  &-four {
    top: 15%;
    left: 58%;
  }
  &-five {
    top: 16%;
    right: 90%;
  }
  &-six {
    top: 70%;
    right: 10%;
  }
  &-last {
    transform: translateX(80%);
  }
}

.text {
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
}

.main {
  padding-top: 120px;
  &__subtitle {
    font-family: $montserrat;
    font-weight: 700;
    font-style: italic;
    font-size: 31px;
    line-height: 1.05;
    letter-spacing: -1px;
    max-width: 40%;
    &--large {max-width: 80%;}
  }
  &__link {font-weight: 700;}
  &__figure {
    margin-bottom: 30px;
  }
  &__horizontal {
    width: 50%;
    position: relative;
    margin-top: 280px;
    &-right{
      width: 50%;
      transform: translateX(100%);
    }
    &-left{
      width: 50%;
      transform: translate(27%, -21%);
      margin-bottom: 150px;
    }
  }
}

// NEW CODE

.row {position: relative;}
.dancers {margin-bottom: 222px;}
.car {margin-bottom: 100px;}

//.last-car {margin-top: 220px;}

.countdown {
  &_position {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: center;
    z-index: 99;
  }
  &-class {
    padding: 10px 0;
    text-align: center;
  }
  &_container {
    display: flex;
    flex-direction: row
  }
}

.distribution_date {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  min-width: 80px;
  align-items: center;

}
.frame {
  border: 1px solid white;
  font-size: 23px;
  width: 40px;
  border-radius: 15%;
  padding: 7px 0;
}


.video {
    margin-top: 200px;
    margin-bottom: 100px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}


/*FOOTER*/
.footer {
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    color: #fff;
    background: black;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  &__legal {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 0;
  }
  &__copy, &__menu, &__note {margin: 0}
  &__menu {
    list-style: none;
    padding: 0 10px;
    display: flex;
    margin: 10px 0;
    &-item {margin: 0 10px;}
    &-link {
      color: #fff;
      font-weight: 500;
      &:hover {text-decoration: underline}
    }
  }
  &__note {text-align: center;}
  &__copy {padding-bottom: 15px;}
}

@media screen and (min-width: 1441px){

  .paragraph-three {
    top: 30%;
    left: 126%;
  }

  .paragraph-four {
    top: 15%;
    left: 63%;
  }

}

@media screen and (max-width: 1456px){

  .main__horizontal-left {
    transform: translate(27%, -2%);
  }

}

@media screen and (max-width: 1440px) {

  .title {font-size: 25px;}
  .subtitle {
    font-size: 19px;
    width: 500px;
  }

  .last-car {margin-top: 310px;}
  .countdown-position {top: 12%;}

}

@media screen and (max-width: 1439px) {

  .countdown-position {top: 0;}

}

@media screen and (max-width: 1024px) {

  .header__container {width: 85%;}
  .author {font-size: 13px;}
  .title {font-size: 22px;}
  .subtitle {
    font-size: 16px;
    width: 430px;
  }
  .main__horizontal-left {transform: translate(27%, 22%);}
  .paragraph{
    &-three {
      top: 70px;
      left: 100%;
      }
    &-four {
      left: 50%;
    }
    &-last {
      transform: translate(80%, -35%);
    }
  }

  .video{margin: 140px 0;}
  .last-car {margin-top: 240px;}
  .countdown_position {top: 10%;}
}

@media screen and (max-width: 993px) {

  .author {font-size: 9px;}
  .intro {margin: 10% auto 6%;}
  .powered {
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 10px;
  }

  .paragraph {
    &-one {
      top: 50%;
    }
    &-two {
      left: 15%;
      transform: translateY(-20%);
    }
    &-three{
      top: 20px;
      left: 75%;
    }
    &-four {
      top:11%;
      left: 40%;
    }
    &-five {
      top: 41%;
      right: 69%;
    }
    &-six {
      top: 22%;
      right: 3%;
    }
    &-last {
      transform: translate(50%, -35%);
    }
  }

  .dancers {margin-bottom: 111px;}
  .main__horizontal-left {transform: translate(0%, 22%);}
  .tablet-margin{margin-top: 265px;}
  .last-car {margin-top: 220px;}
  .countdown-position {top: 0;}
}



@media screen and (max-width: 767px) {

  .aside {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    box-sizing: border-box;
    &__content {flex-direction: row;}
  }
  .ec-logo {
    padding-bottom: 0;
    padding-right: 10px;
    margin-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid #fff;
  }
  amp-social-share[type="twitter"], amp-social-share[type="facebook"], amp-social-share[type="linkedin"], amp-social-share[type="whatsapp"] {
    display: inline-block;
    margin: 0 5px;
  }
  .share {display: flex;}

  .header {
    background: url(https://www.ecestaticos.com/file/770b52db23d47325877264233bf88c07/1548327675-320_carmen_castellon_portada.jpg) no-repeat;
    background-size: cover;
    background-position-x: 50%;
  }
  
  .header__container {
    top: 18%;
    width: 100%;
  }
  .subtitle {
    font-size: 11px;
    width: inherit;
    background: transparent;
    line-height: 2.13;
  }

  .title {
    font-size: 21px;
    border: none;
    padding: 40px 0;
  }
  .block-mobile, .line-mobile, .display-mobile {display: block;}
  .author {display: none;}
  .mobile-author {
    width: 276px;
    display: block;
    font-size: 12px;
    font-family: "Montserrat",sans-serif;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    top: auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .line-mobile {
    position: absolute;
    top: 75%;
    height: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-46%);
  }

  .paragraph-mobile-none, .display-desktop {display: none;}
  .paragraph-mobile-block {display: block;}
  .tablet-margin {margin-top: 0;}

  .center-wrapper.vertical {
    left: 0;
    width: 100%;
  }

  .powered {
    position: relative;
    margin: 0 auto;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 50%;
    transform: translate(-50%, 75%);
  }

  h4 {color: black;}

  .intro {
    width: 84%;
    line-height: 1.43;
    text-align: center;
    transform: translate(0, 0);
    position: relative;
    left: 0;
    margin: 35% auto 19%;
  }

  .big-letter {
    font-size: 139px;
    transform: translate(-12%, -100%);
  }

  .bg-full-container {height: 100%;}

  .main {
    padding-top: 60px;
    &__subtitle {max-width: 100%;}
    &__horizontal {
      width: 100%;
      margin-top: 0;
      &-right {
        width: 100%;
        transform: translateX(0);
        }
      &-left {
        width: 100%;
        transform: translate(0%, 0%);
        margin-bottom: 0;
      }
    }
  }

  .car {margin-bottom: 50px;}
  .section-paragraph {
    position: relative;
    left: 11%;
    width: 83%;
    line-height: 1.6;
  }
  .paragraph {
    &-one {left: 12%;}
    &-two {transform: translateY(0);}
    &-four {margin: 50px 0;}
    &-five {
        margin: 100px 0 0;
      & p{
        padding-bottom: 0;
      }
    }
    &-six {margin-top: 50px;}
    &-last {transform: translate(0, 0);}
  }


  .video {
    margin: 0 0 70px;
    width: 100%;
    left: 0;
    transform: translateX(0);
}

  .last-car {margin-top: 130px}

  .countdown {
    &_position {
      width: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -85%);
      color: white;
      display: flex;
      justify-content: center;
    }
    &-class {
      padding: 10px 0;
      text-align: center;
    }
    &_container {
      display: flex;
      flex-direction: row
  }
}

.distribution_date {
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-width: 50px;
  transform: translateY(120%);
}

.frame {
  border: 1px solid white;
  font-size: 16px;
  width: 35px;
}


  .footer {
    font-size: 12px;
    padding: 40px 0 60px;
    &__legal {width: 100%;}
    &__menu {
      margin: 15px 10px;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      &-item {margin: 0}
      &-link {
        display: inline-block;
        line-height: 1.3;
      }
    }
    &__copyright {display: block;}
    &__copy {text-align: center;}
    &__note {text-align: center;}
  }
}